<div class="container-fluid">
  <div class="row ml-1 mr-2 mt-3"><h2><span style="color: green">About</span></h2></div>
  <div class="row text-justify ml-1 mr-3"><p>This tool provides an interactive environment for creating constituency-based parse syntactic trees. It enables users to make their own trees by using basic operations (merge, move and merge new node). It is designed to be used in academic sphere and for learning purposes. </p></div>
  <div class="row ml-1 mr-2 mt-3"><h2><span style="color: green">License</span></h2></div>
  <div class="row text-justify ml-1 mr-3"><p>This tool is under GNU GPL v3.0 license. <a href="https://gitlab.com/nanotools/ICTrees"><font color="green">Link</font></a> to the GitLab repositary</p></div>
  <div class="row ml-1 mr-2 mt-3"><h2><span style="color: green">Authors</span></h2></div>
  <div class="row text-justify ml-1 mr-3"><p>The tool was created in 2018 by students of Philosophical faculty of Masaryk university Mgr. Richard Holaj and Michala Vacíková.</p></div>

  
  <p></p>
  <div class="row">
      <div class="col">
        <img width="7%" src="../assets/logo_MU.png">
        <img width="7%" src="../assets/logo_FF.gif">
        <img width="7%" src="../assets/logo_UCJ.png">
        <img width="8%" src="../assets/logo_PLIN.jpg">
      </div>
  </div>

</div>