<!-- DO NO TOUCH -->
<ng-template #mergeInForm let-c="close" let-d="dismiss">
    <modal [close]="c" [dismiss]="d" title="MERGE NEW NODE" submitText="MERGE" [items]="mergeInFormOptions"></modal>
</ng-template>
<ng-template #mergeForm let-c="close" let-d="dismiss">
    <modal [close]="c" [dismiss]="d" title="MERGE NODES" submitText="MERGE" [items]="mergeFormOptions"></modal>
</ng-template>
<ng-template #moveForm let-c="close" let-d="dismiss">
    <modal [close]="c" [dismiss]="d" title="MOVE" submitText="MOVE" [items]="moveFormOptions"></modal>
</ng-template>
<!-- DO NO TOUCH -->
<div class="container-fluid">
    <div class="row mt-1 mb-0">
        <div class="col">
        <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <d3-tree-renderer class="canvas" (nodeSelected)="onNodeSelected($event)" fontSize="15" fontColor="green" [initialNodes]="constituents" height="350" [width]="windowWidth"></d3-tree-renderer>
        </div>
    </div>
    <!-- BUTTONS -->
    <div class="row justify-content-center">
        <div class="col text-center">
            <button placement="bottom" [disabled]="!canMergeIn()" ngbTooltip="Select one root node to merge with" class="btn btn-block btn-success" (click)="mergeNewNode(mergeInForm)">Merge new node</button>
        </div>
        <div class="col text-center">
            <button placement="bottom" [disabled]="!canMerge()" ngbTooltip="Select two root nodes to merge" class="btn btn-block btn-success" (click)="mergeNodes(mergeForm)">Merge nodes</button> 
        </div> 
        <div class="col text-center">
            <button placement="bottom" [disabled]="!canMove()" ngbTooltip="Select node and place to move" class="btn btn-block btn-success" (click)="move(moveForm)">Move</button>
        </div> 
        <div class="col text-center">
            <button placement="bottom" [disabled]="!canUnselect()" ngbTooltip="Unselect nodes" class="btn btn-block btn-danger" (click)="clearSelected()">Clear selected</button>
        </div>
        <div class="col text-center">
            <button placement="bottom" ngbTooltip="Reset the window" class="btn btn-block btn-danger" (click)="clear()">Reset</button>
        </div>
    </div>
</div>
