<div class="container-fluid">
  <div class="row ml-1 mr-2 mt-3"><h2><span style="color: green">Basic instructions</span></h2></div>
  <div class="row text-justify ml-1 mr-3"><p>Before doing any operation below (except Reset), you have to select at least one node. To select a node, click on it. The first selected node will color in <span style="background-color: rgb(255, 255, 128)">yellow</span>. If you select another node, it will color in <span style="background-color: rgb(255, 210, 128)">orange</span>. It is not possible to select more than two nodes. If you need to unselect a node, click on it again. After selecting the nodes, choose an operation you want to do with them.</p></div>
  <p></p>
  <div class="row justify-content-center">
      <div class="col">
        <div class="card full-height">
          <div class="card-header bg bg-success text-white"><h5>Merge nodes</h5></div>
          <div class="card-body">
            <div class="card-text text-justify">
              <p>When doing a merge of existing nodes, click on the first node you wan´t to merge (it will get <span style="background-color: rgb(255, 255, 128)">yellow background</span>).</p> 
              <p>After selecting it, click on the Merge nodes button and select the second node (it will color in <span style="background-color: rgb(255, 210, 128)">orange background</span>).</p> 
              <p>It will display a window where you add a label to the constituent you have just created.</p>
              <p>Instead of clicking on a button, you can also use a keybord shortcut <span class="font-weight-light">Ctrl + M</span>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card full-height">
          <div class="card-header bg bg-success text-white"><h5>Merge new node</h5></div>
          <div class="card-body">
            <div class="card-text text-justify">
              <p>If you have one selected node, you can join it with a new node of your choice by clicking on the Merge new node button.</p> 
              <p>It will display a window where you write a string (make, Peter etc.) you want to add (a box called Value; optional), its head (such as N, V, etc. or make, Peter etc. in case you don't use Value) and the label of the resulting constituent.</p>
              <p>Instead of clicking on a button, you can also use a keybord shortcut <span class="font-weight-light">Ctrl + I</span>.</p>
            </div>    
          </div>
        </div>
      </div>
  </div>
  <div class="row"></div>
      <p></p>
  <div class="row justify-content-center">
      <div class="col">
          <div class="card full-height">
          <div class="card-header bg bg-success text-white"><h5>Move</h5></div>
            <div class="card-body">
              <div class="card-text text-justify">
                  <p>When doing a move, select a node you want to move (yellow). Then choose a node where you want to move it (the orange one) and click on the Move button.</p> 
                  <p>It will display a window where you add a label to the constituent and choose what will display on the original position.</p> 
                  <p>The first option is to Keep original constituent (the whole structure will stay there). The second option is to Leave a trace (when choosing it, it will appear a row where you write what will be the trace). The last option is to Delete original constituent, so there will be nothing left after it.</p>
                  <p>Instead of clicking on a button, you can also use a keybord shortcut <span class="font-weight-light">Ctrl + Alt + M</span>.</p>
              </div>    
              </div>
          </div>
      </div>
      <p></p>
      <div class="col">
          <div class="card vertical-fill top">
              <div class="card-header bg bg-danger text-white"><h5>Clear selected</h5></div>
                <div class="card-body">
                  <p class="card-text text-justify">
                  <p>If you need to unselect nodes, you can use the Clear selected button. It will clear the whole selection (both nodes when two selected).</p> 
                  <p>It is also possible to unselect just one of the nodes by clicking on it.</p>
                  </div>
          </div>
          <div class="card vertical-fill bottom">
          <div class="card-header bg bg-danger text-white"><h5>Reset</h5></div>
            <div class="card-body">
              <p class="card-text text-justify">The Reset button is for resetting an assignment (to do the same task again).</p>
              </div>
          </div>
          <p></p>

      </div>
    </div>
  <p></p>


</div>