<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <span class="navbar-brand mb-0 h1">
        <img class="logo" src="../assets/logo.svg" width="80" height="40" alt="">
    </span>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/tree" routerLinkActive="active">TreeEditor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/howto" routerLinkActive="active">HowTo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
