/* You can add global styles to this file, and also import other style files */
tree-page .tooltip-inner {
    background: #c0f3cc !important;
    color: rgb(44, 43, 43)
}

tree-page .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: #c0f3cc !important;
}