<div class="modal-header text-white bg-success">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group" *ngFor="let item of items">
            <label *ngIf="evalCond(item.condition)">{{item.label}}</label>
            <input *ngIf="item.type === 'text' && evalCond(item.condition)" [name]="item.var" class="form-control" [type]="item.type" [(ngModel)]="data[item.var]" [placeholder]="item.placeholder"/>
            <select *ngIf="item.type === 'select' && evalCond(item.condition)" [name]="item.var" class="custom-select" [(ngModel)]="data[item.var]">
                <option *ngFor="let option of _.keys(item.options)" [value]="option">{{item.options[option]}}</option>
            </select>            
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="close(data)">{{submitText}}</button>
</div>